<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key><string>ko</string>
	<key>CFBundleDisplayName</key><string>Hwalja</string>
	<key>CFBundleExecutable</key><string>HwaljaPreview</string>
	<key>CFBundleIdentifier</key><string>app.hwalja.mac.preview</string>
	<key>CFBundleName</key><string>Hwalja</string>
	<key>CFBundlePackageType</key><string>XPC!</string>
	<key>CFBundleShortVersionString</key><string>0.1.0</string>
	<key>CFBundleVersion</key><string>1</string>
	<key>LSMinimumSystemVersion</key><string>14.0</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>QLIsDataBasedPreview</key><true/>
			<key>QLSupportedContentTypes</key>
			<array>
				<string>app.hwalja.hwp</string>
				<string>app.hwalja.hwpx</string>
				<string>com.haansoft.hancomofficeviewer.mac.hwp</string>
				<string>com.haansoft.hancomofficeviewer.mac.hwpx</string>
				<string>kr.co.hancom.hwp</string>
				<string>kr.co.hancom.hwpx</string>
			</array>
			<key>QLSupportsSearchableItems</key><false/>
		</dict>
		<key>NSExtensionPointIdentifier</key><string>com.apple.quicklook.preview</string>
		<key>NSExtensionPrincipalClass</key><string>PreviewProvider</string>
	</dict>
</dict>
</plist>
